.user-list-cng-ty{
    background-color: #FFF8F8;
    .container{
        width: 100%;
        .filter-options{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .input-search{
                padding: 12px 12px 12px 0;
                .search-input{
                    padding: 9px;
                    min-width: 346px;
                    border: 1px solid #ccc;
                    border-radius: 6px;
                }
            }

            .filter-address{
                select {
                    padding: 9px;
                    border: 1px solid #ccc;
                    border-radius: 6px;
                    margin-right: 24px;
                    cursor: pointer;
                    color: #E88989;
                }
                .btn-filter{
                    background-color: #E88989 !important;
                }    
            }
        }
        .container-card{
            .company-card{
                .company-card-content{
                    display: flex;
                    flex-direction: column;
                    .company-detail{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 9px;
                        .logo-company{
                            width: 86px;
                        }
                        .heading-card{
                            font-weight: 600 !important;
                        }
                        .text-card{
                            margin-top: -4px;
                            opacity: 0.9;
                        }
                    }
                    .company-tk{
                        display: FLEX;
                        gap: 12px;
                        .company-tk-uses{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 24px;
                            min-width: 125px;
                        }
                        .company-tk-cost{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 24px;
                            min-width: 125px;
                        }
                        .content{
                            font-weight: 700;
                            font-size: 24px;
                        }
                        .vertical-line {
                            width: 1px;             
                            height: 56px;         
                            background-color: black;
                            border: none;          
                            transform: rotate(180deg); 
                            margin: 0;     
                            margin-top: 23px;
                            opacity: 0.4;         
                        }
                    }
                    .hos-line{
                        margin-bottom: 12px;
                        opacity: 0.4; 
                    }
                    .button-detail{
                        display: flex;
                        justify-content: end;
                        .btn_detail{
                            border: none;
                            background-color: #fbeaea;
                            color: #E88989;
                            display: flex;
                            align-items: center;
                            gap: 11px;
                            justify-content: center;
                            transition: background-color 0.3s ease, color 0.3s ease;
                            &:hover{
                                background-color: #E88989 !important;
                                color: #fbeaea !important;
                            }
                        }
                    }
                }
            }
        }
        nav.MuiPagination-root.MuiPagination-outlined.css-1xra8g6-MuiPagination-root{
            display: flex;
            margin-top: 32px;
            justify-content: end;
        }
    }
}