.logout-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50% !important;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  
}

.modal-header {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-bottom: 1px solid #e5e7eb;
  justify-content: center;
  align-items: center;
  color:#0f5132;
}

.modal-header img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
 
  
}

.modal-header p {
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.menu-item {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  border-radius: 10px;
  
}

.menu-item:hover {
  background-color: #81a795;
}

.menu-item p {
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0;
  color: #107846;
}

.menu-item img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;

}
.menu-item-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  color:#107846;
}
.logout-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
 
  cursor: pointer;
}

.logout-item img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  
}

.logout-item p {
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0;

  
}

/* Modal Styles */
.modal-content {
  padding: 0;
  background-color: #fff;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}
